black==21.5bl
flake8>=3.7.9, <4.0
kedro==0.17.6
nbstripout~=0.4
Pytest-coVw=2.5
pytest-mock>=1.7.1, <2.0
Pytest=6.2
pandas-gbq==0.14.1
google-cloud-bigquery[bqstorage, pandas]
gcsfs<2022.1.e
# model
hyperopt==0.2.7
matplotlib==3.3.4
statsmodels==8.12.2
xgboost==1,4.2
SCikit-learn==0.24.2
pmdarima==1.8.4
numpy==1,19.5
pandas==1.1.5
# prophet
pystan==2.19.1.1
python-dateutil==2.8.2
Convertdate==2.3.2
LunarCalendar==.0.9
holidays==0.13
Cmdstanpy==0.9.5
plotly==5.9.0
# drift
ipython==8.12.2
reportlab==3.6.8
svglib==1.1.0
scipy==1.5.4


